* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Arvo', sans-serif;
    background: black;
    overflow: hidden;
}

header {
    height: 100vh;
    position: relative;
    display: flex;
}

.cover {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    object-fit: cover;
    object-position: top;
}

.cover-date {
    position: absolute;
    color: white;
    bottom: 10%;
    left:100%;
    opacity: .1;
}

nav {
    background: white;
    z-index: 2;
    width: 40%;
    height: 20%;
    color: #916356;
    border-radius: 0 0 5px;
    box-shadow: 0 10px 25px rgba(122, 196, 248, 0.829);
}

.nav-closed {
    display: flex;
    height: 20%;
    width: 40%;
    position: absolute;
    justify-content: space-around;
    align-items: center;
}

.nav-closed h1 {
    font-size: 30px;
}

.nav-closed ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
    list-style-type: none;
    font-size: 20px;
}

.nav-closed ul li {
    padding: 0 5px;
}

.nav-open {
    position: absolute;
    width: 40%;
    height: 80%;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
 
.clothing {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    font-family: 'Muli', sans-serif;
}

.clothing h2 {
    font-size: 50px;
}

.clothing ul li {
    padding-bottom: 10px;
}

.clothing ul li a {
    text-decoration: none;
    list-style: none;
    color: #916356;
}

.nav-images {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.nav-images img {
    height: 250px;
}

.mushroom {
    position: absolute;
    bottom: 15px;
    left: 0;
    mix-blend-mode: multiply;
    transition: 13s;
}

.mushroom img {
    width: 200px;
}

.mushroom:hover, .mushroom:active, .active-mushroom {
    left: 85vw;
}

.sun {
    position: absolute;
    width: 130px;
    right: 80px;
    top: 30px;
    z-index: 200;
    background: rgb(221, 255, 126);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .5s;
}

.sun img {
    width: 100px;
    opacity: .2;
}

.sun:hover, .sun:active {
    transform: rotate(15deg) scale(1.1);
    background: rgb(217, 255, 0);
}

.neon {
    margin: 0;
    padding: 0 20px;
    box-shadow: 0 0 20px #fffb00;
}

.neon:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #d6e414;
    filter: blur(15px);
}

.neon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d6e414;
    z-index: -2;
    opacity: .5;
    filter: blur(40px);
}

.animation {
    height: 2000px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    position: absolute;
    bottom: 1%;
}

.rollerbladers {
    position: absolute;
    left: 10px;
    bottom: 5px;
    outline: none;
    background: transparent;
    border: none;
    transition: 3s;
}

.screen img {
    position: absolute;
    bottom: 132px;
    height: 100px;
    background: url('./images/logo.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100px;
    right: 88px;
    border-radius: 17px;
}

.rollerbladers:active {
    left: 1000px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}